.App-Allies h1 {
  text-align: center;
}
.App-Allies h1 {
  font-family: "MontserratRegular", sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
}

.App-Allies-Image {
  width: 300px;
}

@media (min-width: 768px) {
  .App-Allies-Image {
    width: 180px;
  }
}
