.Booking-Form {
  background-color: var(--color-gris-claro);
  width: 100%;
}

.modal-content p{
  margin: 0;
  font-family: "MontserraBold", sans-serif;
  font-size: 13px;
}

.modal-dialog-centered {
  justify-content: center;
}

.Booking-Form-Header {
  padding: 10px 20px;
  background-color: var(--color-dorado);
}

.Date-Box {
  background-color: var(--color-blanco);
}

.Date-Box p {
  text-align: center;
  margin: 10px 0 20px 0;
}

.Input-Box .Modal-Input {
  margin-top: 10px;
  background-color: white;
  border: 1px solid black
}

.Payment-Box .Cash,
.Coupon-Box {
  margin-top: 10px;
}

.Coupon-Box .input-group{
  align-content: flex-end;
  width: 50%;
}

.Coupon-Box .input-group .Modal-Input{
  font-size: 13px;
  background-color: white;
  border: 1px solid black;
}

.Coupon-Box p {
  text-align: right;
  font-size: 13px;
}

.Coupon-Box .Total {
  font-size: 25px;
}

.Register-Modal-Button,
.Register-Modal-Button:hover {
  margin: 20px 0;
}

.Booking-Form-Footer p {
  text-align: center;
  margin-bottom: 10px;
}

.Booking-Form-Body .input-group-text {
  padding: 0;
  background-color: transparent;
  border: none;
}

.Payment-Box .Cash p,
.Payment-Box .Online p {
  margin-left: 10px;
  color: var(--color-gris-oscuro);
}

.Booking-Form-Header .Title-Box p {
  font-size: 25px;
}

.Services-Box,
.Input-Box,
.Payment-Box,
.Coupon-Box {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.Services-Box .Service {
  background-color: #bbe4d5;
  border-radius: 15px;
  height: 30px;
  width: 45%;
  margin: 0 5px 10px 5px;
}

.Services-Box .Service p{
  color: white;
}

.Non-User-Modal-Header {
  padding: 40px;
  text-align: center;
  background-color: #bbe4d5;
  border: 1px black solid;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.Non-User-Modal {
  font-family: "MontserraBold", sans-serif;
}

.modal-dialog {
  max-width: 400px;
}

.Non-User-Modal-Footer {
  padding: 30px 20px;
}

.modal-content {
  border-radius: 40px;
}

/*Date Picker*/

.react-datepicker {
  border: none !important;
  font-family: "MontserraBold", sans-serif !important;
}

.react-datepicker__header {
  background-color: transparent !important;
  padding-top: 0 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range {
    border-radius: 1.3rem !important;
    background-color: #bbe4d5 !important;
    color: white !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover {
    border-radius: 1.3rem !important;
    background-color: var(--color-dorado) !important;
    color: black !important;
}

/*Time Picker*/

.Time-Box {
  padding: 0 20px 20px 20px ;
}

.Time-Sliders,
.Time-Display {
  width: 50%;
}

.rc-slider {
  margin-top: 5px;
}

.Time-Display {
  font-size: 25px;
  font-family: "MontserraBold", sans-serif;
}

.rc-slider-handle {
  border: solid 2px #bbe4d5 !important;
  background-color: #bbe4d5 !important;
}

.rc-slider-rail {
  height: 1px !important;
}

.rc-slider-track {
  background-color: transparent !important;
}

@media (max-width: 767px) {
  .modal-content {
    align-items: normal !important;
  }
}
