.red{
   background-color: red;
}

.yel{
    background-color: yellow;
 }

 .gre{
    background-color: green;
 }

 .dor{
  background-color: var(--color-dorado);
}

.bla{
  background-color: white;
}

.App-Dashboard{
  font-family: "MontserratBold", sans-serif;
  text-decoration: none;
}

.App-Dashboard-Logo{
    height: 45px;  
    align-content: center;
 }

.App-Dashboard-Link{
  color: var(--color-negro);
}

.App-Dashboard-Link:hover {
  color: var(--color-gris-oscuro);
  text-decoration: none;
}

.ico-session-close{
  font-size: 1.3em;
}

.App-Board{
  background-color: var(--color-dorado);
  height: 350px;
}

.App-Board-Card{
  background-color: var(--color-blanco);
  border-radius: 5px;
  border: none;
  width: 300px !important;
}

.App-Board-Title{
  font-size: 0.6em;  
}

.App-Board-Value{
  font-size: 0.6em;  
}

.App-Board-Percent{
  font-size: 0.5em;
}

.App-Board-Ico, span.icon-tienda{
  font-size: 30px;
}

.App-Board-Ico-Tienda{
  font-size: 80px;
}

.App-Board-Pointer{
  cursor: pointer;
}

.ico-red{
  color: red;
}

.nav-item{
  height: 38px;
}

.Col-Percent-Gre{
  color: #00A650;
}

.Col-Percent-Red, .Total-Red{
  color: #B73639;
}

.App-Board-Gris{
  background-color: #F4F5FB;
}

.App-Board-Col-Dorado, .App-Board-Card-Col{
  background-color: var(--color-dorado);
}

@media (max-width: 768px) {
  .App-Board-Card-Col {
    background-color: #F4F5FB;
  }
}


.App-Board-Reserves-Chart{
  
}

.highcharts-axis > .highcharts-axis-title{
  color: red !important;
}

.App-Board-Content-Chart{
  position: relative;
  top:-30px;
}

.App-Board-Bottom {
  font-size: 0.8em;
  font-weight: 0px;
  
}

.App-Board-Bottom span {
  color: var(--color-verde-claro);
}

.App-Board-Bottom p {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .App-Board-Bottom {
    font-size: 0.8em;
    border: none;
  }
}

@media (max-width: 768px) {
  .App-Board-Header {
    background-color: var(--color-dorado);
  }

  .Profile-Nav-Board{
    flex-direction: column !important;
  }

  .App-Board-Bottom label {
    font-size: 0.8em;
  }

  .Modal-Close {
    color: var(--color-gris-oscuro);
    font-size: 20;
  }

  .Menu-Board-Modal {
    margin: 0;
    height: 100%;
    background-color: white;
  }

  .modal-content {
    align-items: center;
    border: none;
    height: 50%;
    justify-content: space-between;
    position: fixed;
  }

  .Menu-Board-Modal-Links{
    width: 100%;
    margin-right: 0;
  }
}

.App-Board-Icon-Menu{
  font-size: 30px;
}

.Mobile-Filter-Text {
  font-family: "LatoRegular", sans-serif;
  color: var(--color-negro);
  font-size: 1.1em;
}

.hh{
  width: 100%;
}

.Profile-Nav-Mov{
  margin-left: -60px !important;
}