.App-Dashboard{
  font-family: "MontserratBold", sans-serif;
  text-decoration: none;
}

.App-Dashboard-Logo{
    height: 45px;  
    align-content: center;
 }

.App-Dashboard-Link{
  color: var(--color-negro);
}

.App-Dashboard-Link:hover {
  color: var(--color-gris-oscuro);
  text-decoration: none;
}

.ico-session-close{
  font-size: 1.3em;
}

.App-Board-Pointer{
  cursor: pointer;
}

.ico-red{
  color: red;
}

.App-Board-Nav .nav-item{
  height: 38px;
}

@media (max-width: 768px) {
  .App-Board-Header {
    background-color: var(--color-dorado);
  }

  .Modal-Close {
    color: var(--color-gris-oscuro);
    font-size: 20;
  }

  .Menu-Board-Modal {
    margin: 0;
    height: 100%;
    background-color: white;
  }

  .Menu-Board-Modal .modal-content {
    align-items: center;
    border: none;
    height: 50%;
    justify-content: space-between;
    position: fixed;
  }

  .Menu-Board-Modal-Links{
    width: 100%;
    margin-right: 0;
  }
}

.App-Board-Icon-Menu{
  font-size: 30px;
}

.App-Board-Text {
  font-family: "LatoRegular", sans-serif;
  color: var(--color-negro);
  font-size: 1.1em;
}

.App-Board-Nav-Mov{
  margin-left: -60px !important;
}
