.ServiceList-Filter {
  background-color: var(--color-blanco);
  font-family: "LatoRegular", sans-serif;
  color: var(--color-gris-oscuro);
}

.Filter-Button,
.Filter-Button:hover,
.Filter-Button:active,
.Filter-Button:focus {
  color: var(--color-gris-oscuro) !important;
  background-color: var(--color-blanco) !important;
  border-color: var(--color-gris-claro) !important;
  border-radius: 0;
  padding: 1.5em 1em 1.5em 1em;
  border-width: 0 0 0 1px;
  box-shadow: none !important;
}

.Filter-Button:after {
  content: none;
}

.Filter-Icon {
  margin-right: 5px;
  color: var(--color-gris-oscuro);
}

.Filter-Icon-Arrow {
  margin-left: 10px;
}

.Filter-Switch {
  padding: 1.5em 0.5em 1.5em 1em;
  border-style: solid;
  border-width: 0 1px 0 1px;
  border-color: var(--color-gris-claro);
}

.Filter-Switch-Text {
  margin-left: 10px;
}

.Filter-Dropdown-List {
  margin: 0;
  border-radius: 0 0 20px 20px;
  height: 100px;
  overflow-y: auto;
  width: 100%;
}

.Filter-List-Item:active {
  background-color: transparent !important;
}

.Filter-List-Item:hover {
  color: var(--color-verde-claro);
  background-color: transparent !important;
}

@media (max-width: 767px) {
  .ServiceList-Filter-Mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-blanco);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .Mobile-Filter-Button,
  .Mobile-Filter-Button:focus {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--color-dorado);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px lightgray;
  }

  .Mobile-Filter-Button:hover {
    background-color: rgba(231,215,135, 0.75);
  }
}

@media (min-width: 768px) {
  .Mobile-Filter-Button {
    display: none;
  }
}

