.ServiceList-Filter {
  background-color: var(--color-blanco);
}

.Filter-Button,
.Filter-Button:hover,
.Filter-Button:active,
.Filter-Button:focus {
  color: var(--color-negro) !important;
  background-color: var(--color-blanco) !important;
  font-family: "LatoRegular", sans-serif;
  border-color: var(--color-gris-claro) !important;
  border-radius: 0;
}

.Filter-Button:after {
  content: none;
}

.Filter-Icon {
  margin-right: 5px;
  color: var(--color-gris-oscuro);
}
