.Header-Row {
  text-transform: uppercase;
  position: relative;
  height: 60vh;
  background-color: var(--color-dorado);
}
.Header-Img {
  height: 60vh;
  width: 100%;
}

.Header-Title {
  font-size: 2.6em;
  font-family: "MontserratRegular", sans-serif;
  text-align: center;
}

.Header-Subtitle {
  font-family: "MontserratBlack", sans-serif;
  font-size: 2.8em;
  position: relative;
  bottom: 0.35rem;
  text-align: center;
}

.Header-Img-Category {
  height: 60vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  filter: brightness(0.7);
}

.Header-Title-Category {
  font-size: 2.6em;
  font-family: "MontserratRegular", sans-serif;
  text-align: center;
  color: white;
}

.Header-Subtitle-Category {
  font-family: "MontserratBlack", sans-serif;
  font-size: 2.8em;
  position: relative;
  bottom: 0.35rem;
  text-align: center;
  color: white;
}

.Header-Search {
  position: absolute;
  top: 13.5rem;
}

@media (max-width: 768px) {
  .Header-Title {
    font-size: 1.3em;
  }

  .Header-Title-Category {
    font-size: 1.3em;
  }

  .Header-Subtitle-Category {
    font-size: 1.1em;
  }

  .Header-Search {
    position: absolute;
    top: 7rem;
  }

  .Header-Row {
    text-transform: uppercase;
    position: relative;
    height: 30vh;
  }
}
