.Header-Row {
    text-transform: uppercase;
    position: relative;
}


.Header-Title {
    font-size: 2.2em;
    font-family: "MontserratMedium", sans-serif;
    text-align: center;
  }

.Header-Subtitle {
    font-family: "MontserratBlack", sans-serif;
    font-size: 1.3em;
    position: relative;
    bottom: 0.35rem;
  }

.Header-Search{
    position: absolute;
    top: 15.5rem;
}

.Header-Img {
  object-fit: cover;
  width: 100%;
}

@media (max-width: 768px) {
    .Header-Title {
        font-size: 1.3em;
    }
    .Header-Search{
        position: absolute;
        top:3rem;
    }
}



