.App-Social-Links span[class^="icon-"],
.App-Social-Links span[class*=" icon-"] {
  color: var(--color-negro);
}

.App-Social-Links span[class^="icon-"]:hover,
.App-Social-Links span[class*=" icon-"]:hover {
  color: var(--color-verde-claro);
}

.App-Social-Links span {
  margin-left: 0.1vw;
  margin-right: 0.1vw;
}

.App-Social-Links a,
.App-Social-Links a:visited,
.App-Social-Links a:hover {
  text-decoration: none;
}

.App-Button {
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: "MontserratMedium", sans-serif;
  font-weight: 500;
  color: var(--color-negro);
  background-color: var(--color-dorado);
  border-width: 1px;
  border-color: var(--color-negro);
  border-radius: 1.5em;
  padding: 5px 24px;
}

@media (min-width: 768px) {
  .App-Button {
    background-color: var(--color-blanco);
  }
}

.App-Button:active,
.App-Button:focus,
.App-Button:hover {
  background-color: var(--color-dorado) !important;
  border-color: var(--color-dorado) !important;
  color: var(--color-negro) !important;
}

.App-Header {
  background-color: var(--color-dorado);
  color: var(--color-negro);
  text-transform: uppercase;
}

.App-Header-Image {
  height: 120px;
}

.App-Header-Title {
  font-size: 1.2em;
  font-family: "MontserratMedium", sans-serif;
}

.App-Header-Subtitle {
  font-family: "MontserratBlack", sans-serif;
  font-size: 1.3em;
  position: relative;
  bottom: 0.35rem;
}

@media (min-width: 768px) {
  .App-Header-Title {
    font-size: 2.3em;
  }
  .App-Header-Subtitle {
    font-size: 1.3em;
  }
}

.App-Category-List-Text p {
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 1.1em;
}

.App-Category-List-Text p a {
  color: var(--color-negro);
  text-decoration: underline;
}

.App-Category-List-Item a p {
  font-family: "MontserratBold", sans-serif;
  text-transform: uppercase;
  color: var(--color-negro);
}

.App-Category-List-Item a:hover {
  text-decoration: none;
}

.App-Category-List-Item p:hover {
  color: var(--color-verde-claro);
}

.App-Category-List-Item-Container {
  border-radius: 100%;
  overflow: hidden;
  width: 180px;
  height: 180px;
}

.App-Category-List-Item-Image {
  transition: transform 0.5s, filter 0.1s ease;
  border-radius: 100%;
  object-fit: cover;
}

.App-Category-List-Item-Image:hover {
  transform: scale(1.1);
}

.App-Category-List-Item-Container:hover {
  filter: grayscale(100%);
}

.App-Description {
  background-color: var(--color-gris-claro);
}

.App-Description h1 {
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 1.1em;
}

.App-Description-Image {
  width: 280px;
}

.App-Description-Text p {
  font-family: "LatoRegular", sans-serif;
  text-align: justify;
}

@media (min-width: 768px) {
  .App-Description h1 {
    text-align: left;
  }
}

.App-Allies h1 {
  font-family: "MontserratRegular", sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
}

.App-Allies-Image {
  width: 300px;
}

@media (min-width: 768px) {
  .App-Allies-Image {
    width: 180px;
  }
}
