.App-logo {
  height: 45px;
}

.App-Navbar {
  background-color: var(--color-dorado);
}

@media (min-width: 768px) {
  .App-Navbar {
    background-color: var(--color-blanco);
  }
}

.App-Navbar-Link-List {
  margin-left: 3.5vw;
  margin-right: 3.5vw;
}

.App-Navbar-Link {
  text-transform: uppercase;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  color: var(--color-negro);
  font-family: "MontserratBold", sans-serif;
}

.App-Navbar-Link:hover {
  color: var(--color-gris-oscuro);
  text-decoration: none;
}

/*Modal Styles*/

.Register-Modal .modal-content {
  border-radius: 20px;
  border: none;
}

.Register-Modal .nav.nav-tabs {
  border: none;
  width: inherit;
}

.Modal-Tab {
  padding: 40px 40px 0 40px;
}

#uncontrolled-tab-example-tab-register,
#uncontrolled-tab-example-tab-login {
  width: 50%;
  text-align: center;
  color: black;
  border: none;
  padding: 15px;
}

#uncontrolled-tab-example-tab-register {
  border-top-left-radius: 20px;
}

#uncontrolled-tab-example-tab-login {
  border-top-right-radius: 20px;
}

.Register-Modal-Button,
.Register-Modal-Button:active,
.Register-Modal-Button:focus,
.Register-Modal-Button:hover {
  margin: 40px 0;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: "MontserratMedium", sans-serif;
  font-weight: 500;
  color: var(--color-negro) !important;
  background-color: var(--color-blanco) !important;
  border-width: 1px;
  border-color: var(--color-negro) !important;
  border-radius: 1.5em;
  padding: 5px 24px;
}

.Modal-Button-Active {
  background-color: var(--color-dorado) !important;
  border-color: var(--color-dorado) !important;
}

.Modal-Row {
  margin: 0;
}

.Modal-Row .input-group-text {
  background-color: transparent;
  border: none;
}

.modal-content .nav-item.nav-link.active {
  background-color: white;
}

.modal-content .nav-item.nav-link {
  background-color: var(--color-gris-claro);
}

.Modal-Col {
  padding: 20px 6px;
}

.Terms-Text {
  margin-left: 5px;
  font-family: "MontserratMedium", sans-serif;
  font-size: 16px;
}

.Terms-Start {
  color: var(--color-gris-oscuro);
}

.Terms {
  margin-bottom: 5px;
}

.Modal-Password, .Modal-Password:active,
.Modal-Password:focus, .Modal-Password:hover {
  background-color: transparent !important;
  border: none;
  color: black !important;
}

.Modal-Input-Box {
  background-color: var(--color-gris-claro);
  border-radius: 10px;
  font-family: "MontserratMedium", sans-serif;
  color: var(--color-gris-oscuro);
}

.Modal-Input, .Modal-Input:focus {
  background-color: var(--color-gris-claro);
  border-color: var(--color-gris-claro);
  font-family: "MontserratMedium", sans-serif;
  color: var(--color-gris-oscuro);
  font-size: 16px;
  padding: 0;
  padding-left: 5px;
  box-shadow: none;
  border-radius: 10px
}

.Modal-Input-Label {
  margin: 0;
  padding-left: 5px;
  font-size: 0.8em;
}

.App-Navbar.fixed-top {
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 767px) {
  .Modal-Col {
    padding: 0;
  }
  .Terms-Start {
    max-width: 50%
  }
}
