.red{
    background-color: red;
}
.yel{
    background-color: yellow;
}
.gre{
    background-color: green;
}

.App-Dashboard{
    font-family: "MontserratBold", sans-serif;
    text-decoration: none;
  }

.App-Reserves-Table{
    background-color: var(--color-blanco);
    border: 1px solid var(--color-gris-claro);
    border-radius: 10px;
    box-shadow: 5px 3px 10px var(--color-gris-oscuro);
    margin-top: -20px;
}
.App-Reserves-Col-Dorado{
    background-color: var(--color-dorado);
}

.App-Reserves-Border{
    border: 1px solid black;
}

.App-Reserves-Column{
    padding-left: 0px !important ;
    padding-right: 0px !important ;;
}

.App-Reserves-Gris{
    background-color: #F4F5FB;
}

.App-Reserves-Card{
    border-radius: 7px;
    color: white;
    font-size: 0.7em; 
}

.App-Reserves-Line{
  width: 100%;
  color:white;
  border-top: 1px solid white;
  margin-top: 0;
  margin-bottom: 10px;
}

.App_Reserves_Past{
  background-color: #999999;
}

.App_Reserves_Today{
    background-color: #58b79a;
}

.App_Reserves_Scheduled{
    background-color: #429dbb;
}

.App_Reserves_Cancel{
    background-color: #b73639;
}

.App_Reserves_TodayDate{
    background-color: #f2f2f2;
}

.App-Reserves-Button {
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: "MontserratMedium", sans-serif;
    font-weight: 500;
    color: var(--color-negro);
    background-color: var(--color-gris-claro);
    border:none;
    border-radius: 1.5em;    
    width: 138px;
}

.App-Reserves-Button:active,
.App-Reserves-Button:focus,
.App-Reserves-Button:hover {
  background-color: var(--color-dorado) !important;
  border-color: var(--color-dorado) !important;
  color: var(--color-negro) !important;
}

.App-Reserves-Drd.Filter-Button{
    border-width: 0;
    padding: 0;
}

.App-Reserves-Table .icon-calendario{
    font-size: 25px;
}

.App-Reserver-Full-Width{
    width: 100% !important;
}

@media (min-width: 768px){
  .col-md-3 {
    max-width: 100%;
  }
}

.App-Reserves-Arrow{
    font-size: 25px;
    cursor: pointer;
}

.first-letter-Capital{
    text-transform:capitalize;
}

.App-Reserves-Point{
    background-color: rgb(255, 0, 149);
    width: 7px;
    height: 7px;;
    border: 1px solid var(--color-blanco);
    border-radius: 1em;    
}

.App-Reserves-Service{
    margin-bottom: 0px;
}