.Salon-Page {
  background-color: var(--color-gris-claro);
}

.SalonPage-Header-Row {
  overflow: hidden;
  color: white;
}

.SalonPage-Body {
  background-color: white;
}

.swiper-wrapper {
  height: 385px;
}

.SalonPage-Img {
  background-color: rgba(0, 0, 0, 0.8);
  filter: brightness(0.6);
}

.SalonPage-Header {
  position: absolute;
  z-index: 2;
}

.SalonPage-Title {
  font-size: 2em;
  text-transform: uppercase;
  font-family: "MontserratBold";
}

span.icon-furgoneta {
  font-size: 1.4em;
}

span.icon-tienda {
  font-size: 1.4em;
}

@media (max-width: 768px) {
  .SalonPage-Header-Row {
    height: 280px;
  }

  .swiper-wrapper {
    height: 280px;
  }

  .SalonPage-Title {
    font-size: 1.3em;
  }

  .SalonPage-Header {
    height: 280px;
  }

  .Salon-Icon p,
  .Address {
    font-size: 0.8em;
  }

  .SalonPage-Header h5 {
    font-size: 0.8em;
  }

  .SalonPage-Img {
    width: 375px;
  }

  .Close {
    max-width: 100%;
    text-transform: uppercase;
    font-family: "MontserratMedium", sans-serif;
    font-weight: 500;
    color: var(--color-negro);
    font-size: 0.4em;
    background-color: #b73639;
    border-width: 1px;
    border-color: var(--color-dorado);
    border-radius: 0.5em;
  }
  .Open {
    max-width: 100%;
    text-transform: uppercase;
    font-family: "MontserratMedium", sans-serif;
    font-weight: 500;
    color: var(--color-negro);
    background-color: var(--color-dorado);
    border-width: 1px;
    border-color: var(--color-dorado);
    border-radius: 0.5em;
  }
}
@media (min-width: 768px) {
  .Open {
    text-transform: uppercase;
    font-family: "MontserratMedium", sans-serif;
    font-weight: 500;
    font-size: 0.7em;
    color: var(--color-negro);
    background-color: var(--color-dorado);
    border-width: 1px;
    border-color: var(--color-dorado);
    border-radius: 0.5em;
  }
  .Close {
    text-transform: uppercase;
    font-family: "MontserratMedium", sans-serif;
    font-weight: 500;
    font-size: 0.7em;
    color: var(--color-negro);
    background-color: #b73639;
    border-width: 1px;
    border-color: var(--color-dorado);
    border-radius: 0.5em;
  }

  .SalonPage-Header-Row {
    height: 385px;
  }

  .SalonPage-Header {
    height: 385px;
  }

  .SalonPage-Nav-Container h3 {
    font-size: 1.4em;
  }
}

.SalonPage-Nav {
  background-color: var(--color-blanco);
}

.SalonPage-Nav-Button {
  padding: 1em 1em 1em 0.5em;
  cursor: pointer;
}

.SalonPage-Nav-Container {
  margin-bottom: -8px;
}

.SalonPage-About {
  padding-top: 20px;
  padding-bottom: 20px;
}

.SalonPage-Iframe {
  width: 65%;
  height: 300px;
  border: 0;
}
