.App-Header-Search input {
  font-family: "MontserratMedium", sans-serif;
  font-size: 0.8em;
  border: none;
}

.App-Header-Search .input-group-text {
  background-color: var(--color-blanco);
  border: none;
}

#Search-Input-Id .App-Header-Search input,
#Search-Input-Id .App-Header-Search .input-group-text {
  border: solid 2px var(--color-gris-claro);
}

#Search-Input-Id .App-Header-Search .input-group-text {
  border-left: none;
}

#Search-Input-Id .App-Header-Search input {
  border-right: none;
}

@media (max-width: 768px) {
  .App-Header-Search input {
    border-radius: 1.5em;
  }

  .App-Header-Search .input-group-text {
    border-radius: 1.5em;
  }
}
@media (min-width: 768px) {
  .App-Header-Search {
    width: 560px;
  }
}
