.App-Header-Search input {
  border-radius: 1.5em;
  font-family: "MontserratMedium", sans-serif;
  border: none;
}

.App-Header-Search .input-group-text {
  background-color: var(--color-blanco);
  border: none;
  border-radius: 1.5em;
}

#Search-Input-Id .App-Header-Search input,
#Search-Input-Id .App-Header-Search .input-group-text {
  border: solid 2px var(--color-gris-claro);
  border-radius: 0;
}

#Search-Input-Id .App-Header-Search .input-group-text {
  border-left: none;
}

#Search-Input-Id .App-Header-Search input {
  border-right: none;
}

@media (min-width: 768px) {
  .App-Header-Search {
    width: 500px;
  }
}
