/* .Service-Item */

/* Service-Img */
@media (min-width: 768px) {
  .Salon-Img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: transform 0.5s ease;
  }

  .Salon-Img:hover {
    transform: scale(1.5);
  }

  .Service-Img .icon-corazones_border {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 2em;
    color: var(--color-negro);
  }

  .Service-Img .icon-corazones {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 2em;
  }

  .Service-Img .blackened {
    color: var(--color-negro);
  }

  .Service-Img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

@media (max-width: 768px) {
  .Service-Img .icon-corazones {
    position: absolute;
    left: calc(100% - 14%);
    top: 10px;
    font-size: 2em;
  }
  .Salon-Img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

/* Salon-Service */
@media (min-width: 768px) {
  .Salon-Service {
    background-color: var(--color-blanco);
    overflow: hidden;
  }

  .Salon-Description {
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }
  .Salon-Description p {
    height: 100px;
  }

  .Salon-Description p::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 10px, white);
  }
}

@media (max-width: 768px) {
  .Salon-Service {
    background-color: var(--color-blanco);
  }
  .Salon-Service h4 {
    font-size: 1.1em;
  }
  .Salon-Description {
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }
  .Salon-Description p {
    height: 66px;
  }

  .Salon-Description p::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 10px, white);
  }
}

/* .Service-Description */
@media (min-width: 768px) {
  .Service-Description {
    border-left-style: solid;
    border-color: var(--color-gris-claro);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--color-blanco);
  }
  .Service-Buttons .Gray-Button {
    text-transform: uppercase;
    font-size: 0.7em;
    font-family: "MontserratMedium", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-negro);
    background-color: var(--color-gris-claro);
    border-width: 1px;
    border-color: var(--color-gris-claro);
    border-radius: 1.5em;
    padding: 5px 24px;
  }
  .Service-Buttons .Button {
    text-transform: uppercase;
    font-size: 0.7em;
    font-family: "MontserratMedium", sans-serif;
    font-weight: 500;
    color: var(--color-negro);
    background-color: var(--color-blanco);
    border-width: 1px;
    border-color: var(--color-negro);
    border-radius: 1.5em;
    padding: 5px 24px;
  }
  .Service-Time {
    font-size: 13px;
    font-family: "MontserratBold";
    color: var(--color-verde-oscuro);
  }
}
@media (max-width: 768px) {
  .Service-Description {
    border-top-style: solid;
    border-color: var(--color-gris-claro);
    background-color: var(--color-blanco);
  }
  .Service-Buttons .Gray-Button {
    text-transform: uppercase;
    font-size: 0.5em;
    font-family: "MontserratMedium", sans-serif;
    font-weight: 500;
    color: var(--color-negro);
    text-decoration: none;
    background-color: var(--color-gris-claro);
    border-width: 1px;
    border-color: var(--color-gris-claro);
    border-radius: 1.5em;
    padding: 5px 24px;
  }
  .Service-Buttons .Button {
    text-transform: uppercase;
    font-size: 0.5em;
    font-family: "MontserratMedium", sans-serif;
    font-weight: 500;
    color: var(--color-negro);
    background-color: var(--color-dorado);
    border-width: 1px;
    border-color: var(--color-dorado);
    border-radius: 1.5em;
    padding: 5px 24px;
  }
  .Service-Time {
    font-size: 10px;
    font-family: "MontserratBold";
    color: var(--color-verde-oscuro);
  }
}

.Service-Discount-Price {
  text-decoration: line-through;
  color: var(--color-gris-oscuro);
}

.Service-Buttons .Gray-Button:hover {
  background-color: var(--color-dorado) !important;
  border-color: var(--color-dorado) !important;
  color: var(--color-negro) !important;
}
.Service-Buttons .Button:hover {
  background-color: var(--color-dorado) !important;
  border-color: var(--color-dorado) !important;
  color: var(--color-negro) !important;
}

/* Gerenal Css */
@media (max-width: 768px) {
  .Service-Item p {
    font-size: 0.7em;
  }
  .Service-Item h3,
  h4 {
    font-size: 0.9em;
  }
}
.Service-Item p,
h3 {
  font-family: "MontserratRegular";
}

.Service-Item h4 {
  font-family: "MontserratSemiBold";
}

.Star-Icons {
  color: var(--color-amarillo);
}

.icon-corazones {
  color: var(--color-rojo);
}
