.ServiceList-Row {
  background-color: var(--color-blanco);
}

.Title-Body {
  font-family: "MontserratMedium";
}

.Filter-Button-Big,
.Filter-Button-Big:hover,
.Filter-Button-Big:active,
.Filter-Button-Big:focus {
  color: var(--color-gris-oscuro) !important;
  background-color: var(--color-blanco) !important;
  font-size: 1.4em;
  border-color: #bde5d6;
  max-width: 100%;
  border-radius: 1px;
  box-shadow: none !important;
  font-family: "LatoRegular", sans-serif;
}

.Filter-Button-Big:after {
  content: none;
}

.Filter-List-Itemshow {
  color: #7abebb;
  text-transform: capitalize;
}

.Active-Category {
  color: #7abebb;
  text-transform: capitalize;
}

.icon-controles.Filter-Icon {
  margin-right: 5px;
  color: var(--color-gris-oscuro);
}

.icon-despleg.Filter-Icon-Arrow {
  margin-left: 10px;
}
.Item-Dropdown:hover {
  color: #7abebb;
  background-color: white;
}

.Search input {
  border-radius: 0.3em;
  font-family: "MontserratRegular";
  box-shadow: none !important;
  border: none;
  font-size: 1.2em;
  padding: 25px;
  background-color: var(--color-gris-claro);
}

.Search input:focus {
  background-color: var(--color-gris-claro);
}

.Search .input-group-text {
  background-color: var(--color-gris-claro);
  border: none;
  font-size: 1.4em;
  border-radius: 0.3em;
}

.Schedule {
  color: #475361;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.Score-Salon span {
  color: #bbe4d5;
}

.Score-Point,
.Score-Point- {
  color: #3c4858;
}

.Score-Point {
  font-size: 8em;
}

.Score-Point- {
  font-size: 3em;
}

.Score-Salon-Title {
  font-family: "MontserratMedium";
  font-size: 2em;
  color: #3c4858;
}

.Score-Salon-Row p {
  color: #3c4858;
}

.Score-Salon-ENJOY {
  color: black;
}

.Schedule-Hour,
.Schedule-Day {
  color: #8f9296;
}

.Reserve.fixed-top.flex-column {
  width: 380px;
  position: fixed;
  top: 30px;
  left: calc(100% - 35%);
  background-color: white;
}

@media (min-width: 768px) {
  .Search {
    width: 500px;
  }
  .Reserve {
    -webkit-box-shadow: 20px 20px 18px -8px rgba(179, 179, 179, 1);
    -moz-box-shadow: 20px 20px 18px -8px rgba(179, 179, 179, 1);
    box-shadow: 20px 20px 18px -8px rgba(179, 179, 179, 1);
    border-bottom-right-radius: 0.5em;
  }

  .Price-Reserve {
    font-family: "MontserratSemiBold";
  }

  .Reserve .Reserve-Button {
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: "MontserratSemiBold";
    font-weight: 500;
    color: var(--color-negro);
    background-color: var(--color-dorado);
    border-radius: 1.5em;
    border:0;
    padding: 5px 24px;
  }
}

@media (max-width: 768px) {
  .ServiceList-Dropdown .dropdown {
    display: grid;
    height: 55px;
  }

  .Search {
    widows: 100%;
  }

  .Filter-Button-Big {
    border-radius: 0.4em;
  }

  .Reserve {
    display: none;
  }

  .Schedule-Title {
    font-size: 1.6em;
  }

  .Schedule-Day,
  .Schedule-Hour {
    font-size: 1.3em;
  }

  .Score-Salon-Row p {
    font-size: 0.9em;
  }

  .Reserve-Mobile {
    position: fixed;
    border-top: solid #e8e8e8;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-blanco);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .Reserve-Mobile .Reserve-Button {
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: "MontserratSemiBold";
    font-weight: 500;
    color: var(--color-negro);
    background-color: var(--color-dorado);
    border-width: 1px;
    border-color: var(--color-dorado);
    border-radius: 1.5em;
    padding: 5px 24px;
  }
}
