.Profile-Banner {
  background-color: var(--color-dorado);
  height: 5em;
  font-size: 1.2em;
  font-family: "MontserratSemiBold", sans-serif;
}

.Profile-Box {
  padding: 40px;
}

.Profile-Box .nav-item {
  text-align: center;
  font-size: 2em;
  border-color: var(--color-gris-oscuro) !important;
  border-right: 1px solid;
  background-color: var(--color-gris-claro);
  color: black !important;
}

.nav-link:focus {
  outline: none;
}

.Profile-Box .nav-item .active {
  background-color: white;
}

.Tab-Icon {
  color: black;
}

.Profile-Box .nav-item .active .icon-usuario,
.Profile-Box .nav-item .active .icon-calendario {
  color: var(--color-verde-claro) !important;
}

.Profile-Box .nav-item .active .icon-corazones {
  color: red !important;
}

.Profile-Label {
  font-size: 1.2em;
  font-family: "MontserratSemiBold", sans-serif;
  color: var(--color-gris-oscuro);
}

@media (max-width: 767px) {
  .Profile-Banner {
    background-color: white;
  }
  .Profile-Nav {
    flex-direction: row !important;
    justify-content: center;
  }
  .Profile-Box .nav-item {
    border-right: none;
    border-bottom: 1px solid;
    border-top: 1px solid;
    width: 33%;
  }
  .Profile-Box {
    padding: 0 20px 20px 20px;
  }
}
