:root {
  --color-verde-claro: #bbe4d5;
  --color-negro: #333333;
  --color-blanco: #ffffff;
  --color-dorado: #e7d787;
  --color-gris-claro: #f2f2f2;
  --color-gris-oscuro: #666666;
}

.App {
  text-align: center;
}
