:root {
  --color-verde-claro: #bbe4d5;
  --color-negro: #333333;
  --color-blanco: #ffffff;
  --color-dorado: #e7d787;
}

.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.App-Navbar-Link-List {
  margin-left: 3.5vw;
  margin-right: 3.5vw;
}

.App-Navbar-Link {
  text-transform: uppercase;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  color: var(--color-negro);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.App-Navbar-Link:hover {
  color: var(--color-verde-claro);
  text-decoration: none;
}

.App-Social-Links span[class^='icon-'],
.App-Social-Links span[class*=' icon-'] {
  color: var(--color-negro);
}

.App-Social-Links span[class^='icon-']:hover,
.App-Social-Links span[class*=' icon-']:hover {
  color: var(--color-verde-claro);
}

.App-Social-Links span {
  margin-left: 0.1vw;
  margin-right: 0.1vw;
}

.App-Social-Links a,
.App-Social-Links a:visited,
.App-Social-Links a:hover {
  text-decoration: none;
}

.App-Button {
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--color-negro);
  background-color: var(--color-blanco);
  border-width: 1px;
  border-color: var(--color-negro);
  border-radius: 1.5em;
  padding: 5px 24px;
}

.App-Button:active,
.App-Button:focus,
.App-Button:hover {
  background-color: var(--color-dorado) !important;
  border-color: var(--color-dorado) !important;
  color: var(--color-negro) !important;
}
