body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'MontserratBlack';
  src: local('Montserrat'), url(./fonts/Montserrat-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratExtraBold';
  src: local('Montserrat'), url(./fonts/Montserrat-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratBold';
  src: local('Montserrat'), url(./fonts/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: local('Montserrat'), url(./fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratMedium';
  src: local('Montserrat'), url(./fonts/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratRegular';
  src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'LatoBold';
  src: local('LatoBold'), url(./fonts/Lato-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'LatoLight';
  src: local('LatoLight'), url(./fonts/Lato-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'LatoRegular';
  src: local('LatoRegular'), url(./fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xz8d8p');
  src:  url('fonts/icomoon.eot?xz8d8p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xz8d8p') format('truetype'),
    url('fonts/icomoon.woff?xz8d8p') format('woff'),
    url('fonts/icomoon.svg?xz8d8p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cal_mal:before {
  content: "\e900";
}
.icon-calendario:before {
  content: "\e901";
}
.icon-campana:before {
  content: "\e902";
}
.icon-campana_cancelar:before {
  content: "\e903";
}
.icon-controles:before {
  content: "\e904";
}
.icon-corazones:before {
  content: "\e905";
}
.icon-corazones_border:before {
  content: "\e906";
}
.icon-cupon:before {
  content: "\e907";
}
.icon-dashboar:before {
  content: "\e908";
}
.icon-despleg:before {
  content: "\e909";
}
.icon-estrella_full:before {
  content: "\e90a";
}
.icon-estrella_med:before {
  content: "\e90b";
}
.icon-estrella_none:before {
  content: "\e90c";
}
.icon-facebook:before {
  content: "\e90d";
}
.icon-furgoneta:before {
  content: "\e90e";
}
.icon-gestionar_reservas:before {
  content: "\e90f";
}
.icon-google:before {
  content: "\e910";
}
.icon-grafico-de-barras:before {
  content: "\e911";
}
.icon-instagram:before {
  content: "\e912";
}
.icon-logout:before {
  content: "\e913";
}
.icon-lupa:before {
  content: "\e914";
}
.icon-mapa-de-ubicacion:before {
  content: "\e915";
}
.icon-mas_derecha:before {
  content: "\e916";
}
.icon-mas_derecha_color:before {
  content: "\e917";
}
.icon-mas_izquierda:before {
  content: "\e918";
}
.icon-mas_izquierda_color:before {
  content: "\e919";
}
.icon-menu:before {
  content: "\e91a";
}
.icon-objetivo:before {
  content: "\e91b";
}
.icon-ojo_cont:before {
  content: "\e91c";
}
.icon-pagar_online:before {
  content: "\e91d";
}
.icon-payu .path1:before {
  content: "\e91e";
  color: rgb(240, 239, 235);
}
.icon-payu .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(186, 208, 0);
}
.icon-payu .path3:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(174, 183, 2);
}
.icon-payu .path4:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(186, 208, 0);
}
.icon-payu .path5:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(186, 208, 0);
}
.icon-payu .path6:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(186, 208, 0);
}
.icon-payu .path7:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(186, 208, 0);
}
.icon-payu .path8:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(186, 208, 0);
}
.icon-pin:before {
  content: "\e926";
}
.icon-poos-favor:before {
  content: "\e927";
}
.icon-tienda:before {
  content: "\e928";
}
.icon-tijera_peine:before {
  content: "\e929";
}
.icon-ubicacion:before {
  content: "\e92a";
}
.icon-usuario:before {
  content: "\e92b";
}
.icon-verificado:before {
  content: "\e92c";
}
.icon-verificado_full:before {
  content: "\e92d";
}